.floatingPane{
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
}

.elementBox{
    -fx-background-color: WHITE;
}


.chart-plot-background{
    -fx-background-color: TRANSPARENT;
}

.materialDesign .arc{
    -fx-stroke: #e5322d;
}

.disabledElement{
    -fx-background-color: black;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-box-border: none;
    -fx-border-width: -1;
}

.text-area .content {
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.text-area:focused .content {
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.text-area:unfocused .content {
    -fx-background-color: transparent, transparent, transparent, transparent;
}


.scroll-pane {
}

.viewport {
    -fx-background-insets: 0;
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-width: -1;
}

.content {
}

.text {
}

.text-area:focused {
    -fx-background-insets: 0;
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-width: -1;
}

.text-area:unfocused {
    -fx-background-insets: 0;
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-width: -1;
}

#disclaimer {
    -fx-text-inner-color: black;
    -fx-text-fill:black;
    -fx-font-family: Cantarell;
    -fx-font-size: 13px;
    -fx-border-color: transparent;
    -fx-font-style:bold;
}